@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  background-color: #ffffff;
  color: #111111;
  font: 18px Raleway, sans-serif;
  margin: 40px auto;
  width: 1000px;
}

a {
  color: #111111;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  text-align: center;
  padding: 0px;
  width: 100%;
}

header .title {
  color: #333333;
  border-bottom-style: none;
  font-size: 48px;
  letter-spacing: 8px;
  margin: 0px;
  margin-top: 40px;
}

main {
  width: 100%;
  height: 550px;
  margin-top: 25px;
  display: inline-block;
}

aside {
  width: 400px;
  float: right;
}

aside img {
  border-style: solid;
  border-color: #111111;
  border-width: 1px;
  float: right;
}
aside .result {
  float: right;
  text-align: right;
  width: 336px;
  margin-top: 30px;
}

section {
  width: 600px;
  float: left;
}

section h1 {
  margin: 0px;
}

section p {
  margin-top: 10px;
}

section textarea {
  font-size: 20px;
  width: 600px;
  height: 217px;
}

section button {
  font-size: 20px;
  padding: 10px 40px;
  width: 600px;
  margin-top: 25px;
}

footer {
  width: 100%;
  margin-top: 25px;
  text-align: center;
}

footer p {
  margin: 0px;
}

@media (min-width: 1001px) {

  section .result {
    display: none;
  }

}

@media (max-width: 1000px) {

  body {
    width: 100%;
  }

  aside {
    display: none;
  }

  section {
    width: 94%;
    padding: 0px 3%;
    float: none;
  }

  section textarea {
    font-size: 20px;
    width: 100%;
    height: 175px;
  }

  section button {
    font-size: 20px;
    padding: 10px 40px;
    width: 100%;
    margin-top: 25px;
  }

  section .result {
  }

}